body {



}
.containerr {
    background-color: rgb(95, 95, 95) ;
    height: 100px;
    width: 20%;
    margin-left: 438px;

    
}
.location {
    background-color: aliceblue;
    height: 100px;
    width: 20%;
    margin-left: 438px;
}